html {
  padding:10px;
  padding: 0\9; /* IE8 Hack */
}

body {
  border:0;
  background:#fcfcfc;
  font-family:monospace;
  font-size:14px;
  padding:10px;
  line-height:1.35em;
  margin:0;
  padding:0;
}
